.Resizer.vertical {
    padding: 0 6px;
    cursor: col-resize;
    height: 100%;
}

.Resizer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resizer.vertical:before {
    height: 56px;
    width: 4px;
}

.Resizer:before {
    content: "";
    display: block;
    background-color: rgb(222, 226, 231);
    border-radius: 2px;
    transition: background-color 200ms ease-out;
}

.Resizer:hover:before {
    /*background-color: rgb(51, 51, 51);*/
    background-color: rgb(90, 98, 112);

}